body {
    font-family: Verdana;
    font-size: large;
}

main {
    max-width: 960px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #ed0db1;
}

a:hover {
    text-decoration: underline;
}

nav > ul {
    margin: 0.5em 0;
    padding: 0;
}

nav > ul > li {
    display: inline-block;
}

.entry {
    padding: 0.25em 0.25em;
}

.entry:nth-child(even) {
    background-color: #f4f4f4;
}

